/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */

.spot{
  display: none;
}


body.Chakra1 .spot1{
  display: block;
}

body.Chakra2 .spot2{
  display: block;
}

body.Chakra3 .spot3{
  display: block;
}

body.Chakra4 .spot4{
  display: block;
}

body.Chakra5 .spot5{
  display: block;
}

body.Chakra6 .spot6 {
    display: block;
}

body.Chakra7 .spot7 {
  display: block;
}
